<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234618679519-citoh9hdk1cjv4t3hkqlqvu3mtj00g80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234618679519-citoh9hdk1cjv4t3hkqlqvu3mtj00g80</string>
	<key>API_KEY</key>
	<string>AIzaSyDR4Yr199zs4bCU5pRyosKbbYBpsb80IRU</string>
	<key>GCM_SENDER_ID</key>
	<string>234618679519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tttest</string>
	<key>PROJECT_ID</key>
	<string>yuuto-c22aa</string>
	<key>STORAGE_BUCKET</key>
	<string>yuuto-c22aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234618679519:ios:36cff02c9651ca0eb6396a</string>
</dict>
</plist>